//- boilerplate markup
extends layout.pug

block content
  body
    h1 
        a(href="/books") Books 
    //- link to form GET route
    a(class='button' href='/books/new') Create New Book
    br
    br
    br
    br

    //- search form
    form(action='/books' method='get')
        input(type="text" name='search' placeholder='Search Library')
        input(type="submit" value='Search')
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody   
            each book in books
                tr
                    td  
                        //- link to book detail GET route with book id
                        a(href=`/books/${book.id}`) #{ book.title }
                    td #{ book.author }
                    td #{ book.genre }
                    td #{ book.year }

    //- pagination
    p Total Reults: #{ totalBooks }

    //- set url for pagination based on if there is a search query; allow pagination to work in search list as well
    - let url;
    if(search)
        - url = `books?search=${ search }&page=`
    else 
        - url = `books?page=`

    //- create page number links with active class on current page
    p Pages: 
        span
            - let i = 1;    
                while i <= totalPages
                    if page == ( i )
                        a(class='active page-number') #{ i }  
                        - i++
                    else
                        a(href=`${ url }${ i }` class='page-number') #{ i }  
                        - i++