//- boilerplate markup
extends layout.pug

block content
    body
        h1 Update Book
        //- form submits to POST route to update book
        form(action=`/books/${book.id}` method='post')
            p 
                label(for="title") Title    
                input(type="text" name='title' id='title' value=`${ book.title }`)
            p 
                label(for="author") Author    
                input(type="text" name='author' id='author' value=`${ book.author }`)
            p 
                label(for="genre") Genre    
                input(type="text" name='genre' id='genre' value=`${ book.genre }`)
            p 
                label(for="year") Year    
                input(type="text" name='year' id='year' value=`${ book.year }`)
            p
                input(type="submit" value='Update Book')
        //- form to cancel or delete book
        form(action=`/books/${book.id}/delete` method='post')
            p
                a(href="/books" class='button') Cancel
            p   
                input(type="submit" value='Delete Book')
